.footer {
    background-color: $color-secondary;
    grid-column: full-start / full-end;
    padding: 8rem;
}

.nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
    @include respond(special-bp-large) {
        grid-template-columns: repeat(3, minmax(15rem, 1fr));
        grid-row: repeat(2, 1fr);
    }
    @include respond(tab-land) {
        grid-row: auto;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
    @include respond(special-bp-small) {
        grid-template-columns: repeat(3, minmax(15rem, 1fr));
        grid-row: repeat(2, 1fr);
    }
    @include respond(phone) {
        grid-row: auto;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
    align-items: center;
    &__link:link,
    &__link:visited {
        font-size: 1.4rem;
        color: #fff;
        text-decoration: none;
        font-family: $font-display;
        text-transform: uppercase;
        text-align: center;
        padding: 1.5rem;
        display: block;
        transition: all .2s;
    }
    &__link:hover,
    &__link:active {
        background-color: rgba(#fff, .05);
        transform: translateY(-3px);
    }
}

.copyright {
    font-size: 1.4rem;
    color: $color-grey-light-2;
    margin-top: 6rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 70%;
}