*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; //1rem = 10px
    box-sizing: border-box;
}

body {
    font-family: $font-primary;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.6;
    color: $color-grey-dark-2;
    padding: .5rem;
}

.container {
    display: grid;
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
}