*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; //1rem = 10px
    box-sizing: border-box;
    @include respond(tab-land) {
        font-size: 50%;
    }
}

body {
    font-family: $font-primary;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.6;
    color: $color-grey-dark-2;
}

.container {
    display: grid;
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    @include respond(bp-large) {
        grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
        grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    }
    @include respond(bp-medium) {
        grid-template-rows: 6rem calc(100vh - 6rem);
    }
    @include respond(huge-desktop) {
        grid-template-rows: 80vh min-content 25vw repeat(3, min-content);
    }
}