.heading-1 {
    @extend %heading;
    @include heading-type;
    font-size: 4.5rem;
    color: $color-grey-light-1;
    line-height: 1;
}

.heading-2 {
    @extend %heading;
    @include heading-type;
    font-size: 4rem;
    line-height: 1;
    font-style: italic;
}

.heading-3 {
    @extend %heading;
    @include heading-type;
    font-size: 1.6rem;
    color: $color-primary;
    text-transform: uppercase;
}

.heading-4 {
    @extend %heading;
    @include heading-type;
    font-size: 1.9rem;
}

.btn {
    background-color: $color-primary;
    color: #fff;
    border: none;
    border-radius: 0;
    outline: 0;
    font-family: $font-display;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    transition: all .2s;
    &:hover {
        background-color: $color-primary-dark;
    }
}